<div class="container">
    
    <div class="col-md-6" form-group>
        <form>
            <label for="name">name: </label>
            <input class="form-control" type="text" name="name" [(ngModel)]="carte.name">
            <br>
            <label for="firstName">firstName: </label>
            <input class="form-control"  type="text" name="firstName" [(ngModel)]="carte.firstname">
            <br>
            <label for="job">job: </label>
            <input class="form-control" type="text" name="job" [(ngModel)]="carte.job">
            <br>
            <label for="image">image: </label>
            <input class="form-control" type="text" name="image"[(ngModel)]="carte.path">
            <br>
            <label for="citation">age: </label>
            <input class="form-control" type="text" name="citation" [(ngModel)]="carte.age">
            <br><label for="description">cin: </label>
            <input class="form-control" type="text" name="description" [(ngModel)]="carte.cin">
            <br>
            <button type="submit" class="btn btn-primary" (click)="submitCv()">submit</button>
        </form>
    </div>

    
</div>
