<div class="card-container" *ngIf="cv.name != '' ">
    <div class="card">
        <div class="front">
            <div class="cover">
                <img src="/assets/images/rotating_card_thumb3.png"/>
            </div>
            <div class="user">
                <img class="img-circle" src={{cv.path|defaultimage}}/>
            </div>
            <div class="content">
                <div class="main">
                    <h3 class="name">{{cv.name + ' ' + cv.firstname}}</h3>
                    <p class="profession">{{cv.job}}</p>

                    <p class="text-center">{{cv.age}}</p>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="header">
                <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
            </div>
            <div class="content">
                <div class="main">
                    <button class="btn btn-primary" (click)="embaucher()" *ngIf="!embaucheContext">embaucher</button>
                    <button class="btn btn-danger" (click)="remove()" *ngIf="embaucheContext">remove</button>
                </div>
            </div>
        </div> <!-- end back panel -->
    </div> <!-- end card -->
</div> <!-- end card-container -->

